@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilo del scroll vertical */
::-webkit-scrollbar {
  width: 5px;
  /* Anchura del scroll vertical */
  height: 5px;
  /* Altura del scroll horizontal */
}

/* Estilo del pulgar del scroll */
::-webkit-scrollbar-thumb {
  background-color: fuchsia;
  /* Color del pulgar */
}

/* Estilo del scroll horizontal */
::-webkit-scrollbar:horizontal {
  height: 5px;
  /* Altura del scroll horizontal */
}
